[2018-08-29 00:33] sarmut opened #1 "Few async methods are not awaitable"
Hi,

Methods like 'PutAsync()' are marked as 'void'.  Can this return type changed to Task and return whatever the underlying async response comes from KVClient's corresponding async methods?  This will make the caller to apply proper 'await' patterns.

Example:

**Existing:**
[code]

**Suggested Change:**

        public async Task<PutResponse> PutAsync(string key, string val)
        {

[2018-08-29 07:03] shubhamranjan commented on #1
@sarmut
I agree with the return type not being `void` for methods like `PutAsync`. I will change the same and it won't be a breaking change as well for similar return types.

However , when you say `return whatever the underlying async response comes from KVClient's corresponding async methods`, methods like `GetAsync` don't return the whole of the output but return `Task<string>`. Can you provide

[2018-08-29 19:44] sarmut commented on #1
@shubhamranjan
There are situations the whole response is needed, for example, logging.  I need to log the certain pieces from response header to analyze later.  So it'd be helpful not to throw away the underlying response object.

One more request.  Is 'ResetConnection()' needed?  Scenarios is that if I share this client object with multiple threads/async tasks, if one task fails then all the oth

[2018-08-30 07:58] shubhamranjan commented on #1
1. Noted.I will try to provide the response object maintaining backward compatibility.
2. I am aware of this. Unable to get something like ConnectionException on disconnect, hence added that in the universal exception catch block to reset connection.If connection fails, all subsequently calls will fail.To avoid a scenario for shared objects, I will try to look for more improvements.

[2018-09-02 18:15] shubhamranjan commented on #1
Update: Will patch this in the upcoming week.

[2018-12-06 08:38] JTrotta opened #8 "Add node to cluster or create a new ckuster."
Hello, is it possible to use the client to add node to existing cluster, or create a cluster?
I mean if it is possible to use commands like:
etcdctl member add nodex http://a.b.c.d:2380

Thank you

[2018-12-06 09:06] shubhamranjan commented on #8
@JTrotta  As of current release, no. Will be pushing a few more features on this weekend post which the following methods would be available:

[code]

[2018-12-06 09:19] JTrotta commented on #8
Very good news.
Would be nice to have th possibility to create the cluster, i.e. The first node, switch on, no other nodes are already present, creates the cluster.
But it's not really clear to me how to do that in etcd, or better to say, if it has any sense. May it be that adding the first member is equivalent to create the cluster?

[2018-12-06 09:35] shubhamranjan commented on #8
For the scope of this client just like other data store clients, a single node cluster should always be present to start with. If the cluster is not present, it has nothing to connect to and perform operations on. Creation of cluster is indeed possible (on the same server or using authorisation on a remote server) but that is something we are not looking forward to as creation (initiation) usually

[2018-12-10 14:51] JTrotta opened #9 "MemberAdd - accept url only, no name"
Usually when adding a member we also set a name:
etcdctl member add NAME http://a.b.c.d:2380

Is it optional or useless?

[2018-12-10 15:32] shubhamranjan commented on #9
The CLI does require that, however, the current implementation of etcd's grpc [protofile](https://github.com/etcd-io/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto) does not expose any such property in the request.

[2018-12-12 12:59] #9 closed

[2018-12-17 13:43] hexfusion commented on #9
@JTrotta @shubhamranjan is right the name should be populated at startup. etcdctl has this input to member add but if you read the code it is only used to populate startup flags/ENV for new member and is not passed via MemberAdd.

[2018-12-18 09:57] JTrotta opened #10 "Cluster health?"
It would be nice to have this client command:

`etcdctl cluster-health`

[2018-12-22 06:44] shubhamranjan commented on #10
Not sure if the grpc endpoints have exactly the same thing but maybe [this](https://github.com/etcd-io/etcd/blob/master/etcdserver/etcdserverpb/rpc.proto#L180) might help. Maintenance calls as such will be added in a few weeks.

[2019-01-17 15:37] duyanming opened #11 "Whether watch child node changes is supported"

[2019-01-17 16:07] shubhamranjan commented on #11
Need a bit of clarification here. By child node you mean child `keys` ? It would be great if you could provide an example to help me understand it better.

[2019-01-17 16:08] shubhamranjan commented on #11
Apologies for the state change above. Closed by mistake.

[2019-01-19 07:53] shubhamranjan commented on #11
Update: Watching over range of keys (directory) will be supported in the next release (within a few days) if that is what you are looking for.

[2019-01-22 08:15] tmvana opened #12 "GetRange with RangeResponse result"
It would be useful to have ability to receive actual RangeResponse instead of key/value dictionary

[2019-01-23 02:47] shubhamranjan commented on #12
Noted. I will try to provide overloads to the method in the next release.

[2019-01-25 06:17] duyanming commented on #11
Thank you very much

[2019-01-25 06:30] #11 closed

[2019-01-26 15:11] shubhamranjan commented on #12
Feature to be included in v2.1.0

[2019-01-26 15:11] #12 closed

[2019-01-26 15:11] shubhamranjan commented on #10
Feature to be included in v2.1.0

[2019-01-26 15:11] #10 closed

[2019-02-15 15:20] tmvana opened #14 "Put overload with PutRequest argument"
Current function does not provide ability to specify lease

[2019-02-15 17:26] shubhamranjan commented on #14
I will try to accommodate this along with a few other minor changes within a week.

[2019-02-17 17:48] shubhamranjan commented on #14
Done. Changes pushed to version 2.2.0

[2019-02-17 17:48] #14 closed

[2019-02-18 10:10] tmvana opened #16 "Lease keep alive missing"
Need ability to keep lease alive

[2019-02-18 18:53] shubhamranjan commented on #16
Noted. I will try to accommodate this will other other missing grpc calls in the next release in the coming weekend.

[2019-03-08 19:04] shubhamranjan opened #17 "Add support for etcd Auth"
Add support for the following auth operations.

- [x] **AuthEnable** // AuthEnable enables authentication.
- [x] **AuthDisable** // AuthDisable disables authentication.
- [ ] **Authenticate** // Authenticate processes an authenticate request.
- [x] **UserAdd** // UserAdd adds a new user.
- [x] **UserGet** // UserGet gets detailed user information.
- [x] **UserList** // UserList gets a list of all

[2019-03-09 10:04] shubhamranjan commented on #17
Authenticate method would be added in a future major release which will change the way we connect to etcd with auth enabled.

[2019-03-09 10:04] #17 closed

[2019-03-09 10:05] #16 closed

[2019-04-27 16:36] jinyuttt opened #19 "cluster"
**Is your feature request related to a problem? Please describe.**
How does the cluster work? You demonstrated an etcd.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context

[2019-04-30 19:17] shubhamranjan commented on #19
Currently, it works by passing a single host. Current workaround is to have a tcp (grpc capable) loadbalancer on top of hosts which I know is unorthodox.

I have planned to have it in the future release as soon as I am a bit free. Can't guarantee an ETA here though.

If you plan to develop and contribute the same, please go ahead and feel free to send a PR :)

[2019-05-03 03:10] jinyuttt commented on #19
What is the way to judge that the connection is no longer available for the client that has been connected (the server is closed, the network is broken)

[2019-05-03 03:11] jinyuttt opened #20 "connection close"
What is the way to judge that the connection is no longer available for the client that has been connected (the server is closed, the network is broken)

[2019-05-07 16:05] shubhamranjan commented on #20
The client is not publicly exposed yet for  but reconnect on failure / disconnect has been handled. If you want to have it expose, please do let me know with the use case.

[2019-05-07 16:06] shubhamranjan commented on #19
Following up on this in #20

[2019-05-10 15:17] jinyuttt commented on #20
When a cluster is deployed, multiple nodes will not be released after I connect to one node. When the node server crashes, it is meaningless to use the node again.

[2019-05-10 15:18] jinyuttt commented on #20
When a cluster is deployed, there are multiple nodes. Connecting to one of the nodes will not be released. When the server of the node crashes, it is meaningless to use the node again.

[2019-05-10 18:13] shubhamranjan commented on #20
Got it. This use case would be handled automatically when #19 would be implemented.

[2019-05-10 18:13] #20 closed

[2019-05-26 17:38] shubhamranjan commented on #19
I plan to add support this post 15th June 19 if someone doesn't. Going through a bit of busy schedule.

[2019-05-28 11:55] jinyuttt commented on #19
ok，我的能力有限，无法贡献

[2019-06-18 08:40] viing937 opened #22 "Add examples about how to use all etcd operations"
**Is your feature request related to a problem? Please describe.**
I want to use ETCD's ttl, and I noticed that there are some lease methods (`LeaseGrant` and so on) exposed from client, but I can't figure out how to use them.

**Describe the solution you'd like**
Add some usage examples in `README.md`.

Thank you for your creating the great client again.

[2019-06-20 09:46] viing937 commented on #22
I found how to set a key with ttl.

[code]

And this can keep lease alive, but I am not sure what are `LeaseKeepAliveHandler`  and `CancellationToken` used for.

[code]

[2019-06-21 06:00] shubhamranjan commented on #22
LeaseKeepAliveHandler : The method which contains instructions to be executed on each LeaseKeepAlive response.

CancellationToken: Propagates notification that operations should be canceled.

https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken?view=netframework-4.8

[2019-06-21 06:01] shubhamranjan commented on #22
I am working on restructuring the lib's code a bit without hurting method signatures. I will try to update documentation as soon as I can.

[2019-06-21 06:09] viing937 commented on #22
Actually I do not need to execute anything on `LeaseKeepAlive` response, an overload of `LeaseKeepAlive` without `LeaseKeepAliveHandler` should be better.

[2019-06-21 06:12] shubhamranjan commented on #22
Noted. For now, you can use the overload which takes an array of Handlers and you can pass an empty array.

[2019-07-18 03:21] spiderpoison opened #23 "Should the host of EtcdClient be array?"
I found in Golang, the host of EtcdClient is slice.
But dotnet-etcd the host of EtcdClient is string.
So I only can connect single-point of etcd. Is it right?

[2019-07-18 06:20] shubhamranjan commented on #23
Yes, this is known and I have started working on a proper implementation with whatever time I get. I believe its the same as #19.

[2019-07-18 06:20] shubhamranjan commented on #23
Closing as duplicate of #19

[2019-07-18 06:20] #23 closed

[2019-07-24 09:42] spiderpoison commented on #22
I need Doc about Lease too, thanks very much

[2019-08-02 13:05] spiderpoison opened #24 "Run Lease on linux, System.MissingMethodException: Method not found: 'Google.Protobuf.FieldCodec..."
My code like this:
[code]
When I run on mac, it is ok.
But when I run on linux(centos 7), It throw Exception:
[code]

[2019-08-03 10:27] shubhamranjan commented on #24
Can you confirm whether this behavior is for all method calls or only for `LeaseGrant` ?

[2019-08-05 02:52] spiderpoison commented on #24
I tried "Put" and "Get" operations, it's ok.
[code]

[2019-08-05 07:51] shubhamranjan commented on #24
Ok. This looks like an issue with `Google.Protobuf` which is not on the latest version currently on the published package. I have pushed the updated one to the master branch. I plan to release a new package this week. You can pull the master branch and test if the issue still persists.

[2019-08-05 12:49] spiderpoison commented on #24
The master branch is ok. I had tested.

[2019-08-06 04:01] #24 closed

[2019-08-11 09:55] shubhamranjan commented on #19
I have released this in an alpha package. Please do test it out and let me know if you face any issues.

[2019-08-12 12:14] spiderpoison opened #25 "Error when install dotnet-etcd v3.0.0-alpha"
I used nuget install dotnet-etcd v3.0.0-alpha, error like below,
[code]

[2019-08-13 16:57] shubhamranjan commented on #25
Hi, Please try to remove any references of ` Google.Protobuf` from your project. It seems that your project already has a reference of `3.9.0-rc1` whereas `dotnet-etcd` has  a reference of  `3.9.1`. Either update the reference to the same version or remove it. That should solve it.

[2019-08-16 06:00] shubhamranjan commented on #25
Closing as no response.

[2019-08-16 06:00] #25 closed

[2019-09-24 19:12] shubhamranjan commented on #19
Released with v3.0.0

[2019-09-24 19:12] #19 closed

[2019-11-07 13:04] fofewyoung opened #33 "cannot cancel watch"
**Describe the bug**
i try to cancel a watch with below code, but failed.

**To Reproduce**
[code]

**Expected behavior**
input 's'
input 'u'
console print  "cancel: ..."

**Screenshots**

**Additional context**
dotnet-etcd: 3.0.0
etcd:3.4.3

[2019-11-08 10:36] tung-lin opened #34 "When using "Watch" or "WatchRange" function, how to catch "Grpc.Core.RpcException" unhandled exception when network disconnected?"
**Is your feature request related to a problem? Please describe.**
When using "Watch" or "WatchRange" function, we got "Grpc.Core.RpcException" unhandled exception when network disconnected.

**Describe the solution you'd like**
Some EtcdClient event or static event that can help us to catch expcetion in this situation.
Or do you know any Grpc.Core method or event that  can help us to handle excep

[2019-11-08 11:00] Kuo-Chun-Ting commented on #34
Some problem here

[2019-11-08 14:47] shubhamranjan commented on #34
Try Something like this:
[code]
@Kuo-Chun-Ting @tung-lin Let me know if it works for you.

[2019-11-08 16:09] tung-lin commented on #34
Thanks for your applying message.

We add try catch, but it didn't work.
![image](https://user-images.githubusercontent.com/19318874/68489195-9611b100-0281-11ea-95ff-9717b682d014.png)

Our steps:
1. New EtcdClient
2. Call WatchRange method
3. Everying was perfect
4. We close the etcd service (or close the local network) after a few seconds
5. An Grpc.Core.RpcException unhandled exception occurred!

[2019-11-08 19:11] shubhamranjan commented on #34
Oh I see. You want an exception  after the watch has been initiated and network disconnects thereafter. I will  push these changes. Or if you want to make a PR, you are most welcome.

[2019-11-09 03:25] fofewyoung commented on #33
Hi,  May I check if you read my questions please?
Maybe I know the reason, but i have no idea to fix it simply,
in dotnet-etcd, each watch operation has its own  gRPC stream,
but cancel watch operation should use the streaming of watch.
cancel operation works after i hack the code to let all watch* share a single streaming.
Could you please help me deal with it?

[2019-11-09 06:19] shubhamranjan commented on #33
Hi, I have read your question. Will get back once I reproduce the issue and if a problem exists, will fix it.

Do let me know about your findings and how did you modify the code to get it working.

[2019-11-09 10:51] shubhamranjan commented on #33
Strange. What would be the use of `watchId` then. Need to dig a bit more in this.

[2019-11-09 10:59] shubhamranjan commented on #34
@tung-lin  Do you mean that you are able to get an exception but rather want the exception handled through some event handler that can be passes as a parameter ?

[2019-11-09 14:00] tung-lin commented on #34
@shubhamranjan  Passing event handler (Action) as a parameter sounds good and better than event delegate.
![image](https://user-images.githubusercontent.com/19318874/68529583-2e1fa100-033b-11ea-8f3e-3e906e31f5b9.png)
In this way, we can clearer know where the error comes from and call the Watch/WatchRange method again.

[2019-11-10 11:45] shubhamranjan commented on #34
@tung-lin I have pushed the changes ( https://github.com/shubhamranjan/dotnet-etcd/pull/35 ) but it would take me a while to release a new build as I plan to release it with fixes to other issues. In the meantime, you can test the changes and if possible, do give a feedback whether it helps you or not.

[2019-11-11 01:18] fofewyoung commented on #33
hi,  this is my hack code :
include:

[code]

[2019-11-11 15:52] Nitin5acc opened #36 "Using this client with IConfiguration"
Hello,

Is there a way to use this client with IConfiguration?

[2019-11-11 16:30] shubhamranjan commented on #33
Thanks. I will look into this. A bit of a busy week, may not be able to come up with a solution soon enough.

[2019-11-11 16:32] shubhamranjan commented on #36
Hi @Nitin5acc ,
Not sure what you want to achieve here. Are you talking about using the lib via DI ? If that's the case, I can provide a public interface for that.

[2019-11-11 16:45] Nitin5acc commented on #36
We are planning to use etcd to store configuration value (i.e. Database connection string ). Currently, we are using an IConfiguration builder to read other config values. We would like to use your Etcd client with IConfiguration.

[2019-11-11 17:51] shubhamranjan commented on #36
Can't see what exactly are you looking for. Can you show an example snippet depicting how you exactly want to use it.

[2019-11-12 16:19] Nitin5acc commented on #36
You can ignore this. We did achieve what was needed. We were trying to create configuration client.
Onr more thing -
Is there a way to get the key-value pairs in a hierarchical way like the suffix?

[2019-11-12 16:24] shubhamranjan commented on #36
Are you looking for all keys under a certain path ? Something like:

[code]

[2019-11-12 16:46] Nitin5acc commented on #36
Yes.

[2019-11-12 16:55] shubhamranjan commented on #36
Well, that's already there.
Ref: https://github.com/shubhamranjan/dotnet-etcd#get-multiple-keys-with-a-common-prefix

[2019-11-12 17:29] #36 closed

[2019-11-13 03:45] tung-lin commented on #34
Thanks for your help.

BTW, how should we watch prefix key using "WatchRange" method?
Our key is "schedule/", and we want to watch all keys under "schedule/" (schedule/1, schedule/2, schedule/xxx)
We don't know how to set the RangeEnd parameter.
If we set ByteString.CopyFromUtf8("\0"), it watch almost all keys...

[2019-11-14 18:08] Nitin5acc commented on #36
Hello,
Two more Questions
1. Can we have nested key-value pair where the value would be an object for the given key?
1. Can we have a folder structure or hierarchical within the cluster? and retrieve all values under given path?

[2019-11-14 18:34] Nitin5acc opened #37 "Store data in hierarchically organized directories"
Hello,

Can we Store data in hierarchically organized directories, as in a standard filesystem?
Something like -
/config
/database
/feature-flags
/verbose-logging
/redesign

[2019-11-14 19:46] shubhamranjan commented on #34
Try out the overloads available which take the prefix path and do it for you.

E.g. ` public void WatchRange(string path, Action<WatchResponse> method, Metadata headers = null)`

There are many more similar overloads available.

[2019-11-14 19:49] shubhamranjan commented on #37
Starting v3+, etcd is a flat key space, no hierarchy.

You can create keys like `/config/key1` , `/config/category1/key2` to achieve this. So your directory path would be a part  of your key itself.

[2019-11-14 19:49] #37 closed

[2019-11-14 19:49] #34 closed

[2019-11-14 22:26] Nitin5acc opened #38 "user name is empty error is shown if authentication is enabled"
**Describe the bug**
When Authentication is enabled. I am not able to get the values.

 is returned.

**To Reproduce**
`_etcdClient = new dotnet_etcd.EtcdClient(_client.Settings.ConnectionString, _client.Settings.Port, _client.Settings.UserName,_client.Settings.Password);`

a
**Expected behavior**
I should get the value ( ETCD cli does return the value)

[2019-11-15 06:00] beckjin commented on #38
You can try it like this :
[code]

[2019-11-15 06:03] shubhamranjan commented on #38
Yes. Documentation is something which is pending from long. I need to update them asap.

[2019-11-15 06:22] #38 closed

[2019-11-20 18:07] shubhamranjan commented on #33
Update: I was able to replicate the issue. Still working on the solution.

[2019-11-26 02:17] ElderJames opened #39 "Implement the gRPC Naming like go-clientv3"
Can implement the Naming like go client?

https://github.com/etcd-io/etcd/tree/master/clientv3/naming

[2019-11-26 15:45] shubhamranjan commented on #39
Can you elaborate with an example showing the behavior of how would you like to use the client ?.

[2019-11-30 19:17] shubhamranjan commented on #39
@ElderJames This is exactly what you want right ? : https://etcd.io/docs/v3.3.12/dev-guide/grpc_naming/

[2019-12-01 07:08] ElderJames commented on #39
Exactly. :)

[2020-01-01 14:33] shubhamranjan commented on #33
Lets take an example where we have an etcd cluster and an application using this client. Suppose I have 3 instances of my application behind a load balancer and  my application connects to etcd using this client. Now if I a make an api call to my application via loadbalancer for cancel watch request, I would never be able to gurantee  for the request to land on the same server from where the watch

[2020-02-22 02:58] 9chu opened #40 "Avoiding using 'async void' as function signature"
Like calling `LeaseKeepAlive`, I have no way to detect whether it throws exception or not.
Please consider using `async Task` to return a `Task` object to user.

[2020-02-22 06:46] shubhamranjan commented on #40
Agreed. Using `void` with `async` is  considered a bad practice as well. Something I learnt recently. Thanks for pointing out. Will fix this by tomorrow.

[2020-02-22 07:29] 9chu commented on #40
Thank you for your reply.

BTW, I am confused with the `LeaseKeepAlive` method. Seems I have to manually call it many times to keep a lease key alived, and the method it self will create a grpc stream every time.

I think providing a method to automatically call keepalive may be more convenient :)

[code]

[2020-02-22 08:35] shubhamranjan commented on #40
I will look into this and get back.

[2020-02-23 11:30] #40 closed

[2020-02-26 09:03] xontab opened #42 "Exception handling issue in Watch API"
**Describe the bug**
In the 3.1.0 release, a new exception handler parameter was added to the watch API, however this only works properly when `StatusCode` is not `Unavailable`
https://github.com/shubhamranjan/dotnet-etcd/blob/cd0afcbe629c0a00e52355bb22e5a13755450f41/dotnet-etcd/watchClient.cs#L71-L78

This is because the original exception is still thrown when  `StatusCode` is `Unavailable` and t

[2020-03-09 07:29] xontab commented on #42
@shubhamranjan Does it make sense that we wrap the following code inside the `catch` block also?
https://github.com/shubhamranjan/dotnet-etcd/blob/cd0afcbe629c0a00e52355bb22e5a13755450f41/dotnet-etcd/watchClient.cs#L71-L78

[2020-03-09 15:36] shubhamranjan commented on #42
Noted. I will simplify it to always call exception handler.

[2020-03-21 15:25] #42 closed

[2020-04-03 22:16] yoricksmeets opened #43 "Add timeout and cancellation token support"
Hi, first of all thank you for this library!

I'm building a simple proof of concept project that can do distributed locking using etcd using the 'lockClient' part of the EtcdClient. In this PoC would like to pass a timeout while aquiring a lock, but the deadline and/or cancellationtoken of the gRPC client are not part of the public API of the client. Therefor there is no nice way to implement the

[2020-04-04 07:15] yoricksmeets commented on #43
I'm adding this change to the other parts of the client as well at the moment. I'm also updating missing documentation on methods when I touch them.

[2020-04-04 07:16] shubhamranjan commented on #43
Cool. Thanks. I will wait for the changes then and release all together.

[2020-04-05 06:56] yoricksmeets opened #45 "Cluster distribution"
I have a application where I would create an etcd client when needed and not keep a single etcd client around for all requests.

If I read through the code it looks like the round-robin technique of handing out the etcd node connections always starts with the first node of the provided node list. This results in an uneaven load distribution where the first node would get far more requests if the c

[2020-04-05 07:37] yoricksmeets opened #46 "Use methods with generics to implement retry"
Is there any reason why there is so much retry logic copied throughout the codebase Using a method with generics and a Func this could be refactored to a more maintainable codebase.

For example this method:
[code]

Can become:
[code]

With the use of a simple helper function:
[code]

I have also changed 'throw ex' to simple 'throw' because 'throw ex' removes the original stack trace and creates a

[2020-04-05 09:28] shubhamranjan commented on #46
I totally agree on all the points mentioned. There's a lot of scope for refactoring. Thanks for pointing these out.

[2020-04-05 09:34] shubhamranjan commented on #45
This sounds like a better idea.

[2020-04-06 08:36] shubhamranjan commented on #46
@yoricksmeets Are you implementing these changes or should I proceed with their implementation ?

[2020-04-06 08:38] #43 closed

[2020-04-06 08:47] yoricksmeets commented on #46
@shubhamranjan I'm not implementing them at this moment. I can make some time later this week to implement these changes.

[2020-04-06 17:17] shubhamranjan opened #48 "Basic auth doesn't work"
**Describe the bug**
Basic auth doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Enable basic auth on etcd cluster
2. Try using username and pass word via client

**Expected behavior**
Method calls should work

**Additional context**
Basic auth variable has not been handled inside code. That needs to be handled via headers.

[2020-04-10 16:34] yoricksmeets commented on #46
I'm starting to work on this issue

[2020-04-10 18:00] yoricksmeets commented on #46
I arrived at the methods that use a AsyncDuplexStreamingCall and I was reading back through the issues why there is a errorHandler action in the function signature.
I think the problem raised in #34 is the reason this errorHandler action is included, but I think that if the watch operations return a Task instead of void, as pointed out in #40, it will give the user the option to catch the exceptio

[2020-04-10 19:16] shubhamranjan commented on #46
Yeah, the exception handler can be removed with return type changed to `Task`.  We can do this change, a breaking change but not a feature removal. Will be fine.

[2020-04-11 08:17] yoricksmeets commented on #33
The watchId exists to manage different watches on the same stream to the server and is only scoped to that stream. See [this discussion here](https://github.com/etcd-io/etcd/issues/7036#issuecomment-269678181).

What I assume is that if you close the response stream (or maybe both request and response stream but in this client the request stream is always closed after sending the initial requests)

[2020-04-11 09:40] shubhamranjan commented on #33
So probably, we will have to maintain request streams on our end. Will try to re-design the watch implementation here to persist request streams. The discussion also states that each stream may share the same watch ID which becomes a bit difficult to manage on client side.

[2020-04-11 10:30] yoricksmeets commented on #33
@shubhamranjan I'm working on a watch manager to use in our distributed locking client. I can share the code when I have progressed a bit more. You could get some inspiration from it or we could adjust it to be included in this library if you think it fits the scope of this library.

The basic idea is as follows (WM = Watch Manager, WMS = Watch Manager Subscription):
- The WM is created from a etc

[2020-04-12 08:17] shubhamranjan commented on #33
I would  like to see how you plan to achieve this in case of same etcd watch ID(s) issued in different streams. Because in case of connection exceptions, I believe the stream would be recreated and etcd issued watch ID(s) won't be valid anymore for the new stream.

Looks fine to me if its included in this library. Would make the watch client better.

[2020-04-12 08:38] yoricksmeets commented on #33
I plan on making the watchId of the WM increment only (the watchId is a long so I don't think we will run out). Because the WM manages both the stream to the etcd server and the watchId-counter it can guarantee that watchIds are unique for the specific stream that it manages. Because the etcd server scopes the watchIds to a specific stream we only need to guarantee the uniqueness of the watchId in

[2020-04-12 09:10] yoricksmeets commented on #45
The changes made will now always use random to pick a new node but I was expecting that we would only use random for the initial start node and use the increase by one method after selecting the first node.

Given a 3 node cluster.
For this cluster we start 5 clients. The clients will create a number of streams over their lifetime:

1. Will start 21 streams
2. Will start 10 streams
3. Will start 1

[2020-04-12 09:53] #45 closed

[2020-04-14 12:50] shubhamranjan commented on #33
`Watch` and `WatchRange` internally are the same api(s). The revision specified in the request should mean something whether its an individual key or a range.  However, I will try these cases out on the weekend and check on the behavior.

[2020-04-14 13:18] yoricksmeets commented on #33
That would be good news and should simplify the rebuild of the channel. I will start with just supporting an exact key for this moment and if that is working I will look at the WatchRange.

I have included my fork of this client as submodule in our solution so I can test its behaviour before making the PR to this repository. It will go through manual testing for our use cases and I'm hoping to add

[2020-04-14 19:23] shubhamranjan commented on #33
Yeah, Automation of test cases is long pending here. I should start that soon enough now.

[2020-04-24 18:08] #46 closed

[2020-05-10 13:12] jinyuttt opened #50 "Initialization error"
EtcdClient client = new EtcdClient("host1:port1:,...., hostN:portN");
Error reporting using constructor

[2020-05-10 14:58] shubhamranjan commented on #50
Hi,

Can you share the exact snippet you are using and the exact error you are facing ?

[2020-05-10 15:06] #48 closed

[2020-05-10 15:51] jinyuttt commented on #50
var etcdClient = new EtcdClient("127.0.0.1:2379");

[2020-05-11 14:08] ybdiel opened #51 "Interface for EtcdClient"
Can you create an interface for EtcdClient so when used/injected in integrations it can be mocked and therefore the integrations can be unit tested easily?

[2020-05-12 07:24] shubhamranjan commented on #51
Sure.

[2020-05-12 07:25] shubhamranjan commented on #50
Hi,

What is the error you are facing ?

[2020-05-18 06:33] alenjursic1997 opened #52 "Add name option when adding new member."
**MemberAddRequest() method**
I't would be really nice to be able to set name parameter when registering/adding new nodes (clusters).
I'm implementing discovery service for consul and etcd, but it is impossible to do it for etcd now, because I need to find it by it's name. Go library for etcd already has this option.

[2020-05-18 09:34] shubhamranjan commented on #52
I will check how they have implemented and get back on this one. Cannot see an grpc parameter provided in their contract.

[2020-05-24 08:22] #51 closed

[2020-05-24 14:55] shubhamranjan commented on #52
The grpc api currently doesn't have a parameter exposed. Hence, cannot add this feature atm. Will raise an issue and see what response do I get from them.

Ref: https://etcd.io/docs/v3.3.12/dev-guide/api_reference_v3/#service-cluster-etcdserveretcdserverpbrpcproto

[2020-05-25 05:39] alenjursic1997 commented on #52
Hi,
This is the way to register member in ETCD as described here: https://etcd.io/docs/v3.4.0/dev-internal/discovery_protocol/

Example:
curl -X PUT http://example.com/v2/keys/_etcd/registry/${UUID}/${member_id}?prevExist=false -d value="${member_name}=${member_peer_url_1}&${member_name}=${member_peer_url_2}"

As you see, there is a possibility to add "member_name".
Is it posible to do this with y

[2020-05-25 07:20] shubhamranjan commented on #52
Thats the v2 api which supports the rest protocol only. gRPC is supported with v3+ (which this library is built on top of) and the grpc contract of etcd server doesn't have this parameter.

Thanks for the reference though, I will use it to raise an issue there.

[2020-05-30 20:23] shubhamranjan commented on #50
Closing due to inactivity. Feel free to re-open with more details.

[2020-05-30 20:23] #50 closed

[2020-05-31 06:33] shubhamranjan commented on #52
This format doesn't seem to be supported as of now.

[2020-06-12 00:47] satishviswanathan opened #53 "Is there a way to return all keys"
How can I get all the keys. Similar to the way we run the following command which returns all the keys.

etcdctl.exe --user root:password get --from-key '

[2020-06-12 08:29] shubhamranjan commented on #53
[code]

Hope this helps

[2020-06-15 13:22] satishviswanathan commented on #53
@shubhamranjan Not sure if I'm missing something. I'm usinfg etcd version etcd-v3.4.3 and i'm trying to return all the keys using but doesn't return anything.

// For fetching all keys
   await client.GetRangeAsync("/");

[2020-06-15 20:31] shubhamranjan commented on #53
Will check this over the weekend. Re-opening to ensure I don't miss this out.

[2020-06-18 17:58] satishviswanathan opened #54 "Etcd value getting trimmed out"
I'm using etcd to store my app settings including the database connection string and I ran into this issue where the value is getting trimmed out.

I'm saving my connection string using the following command and when I read execute the get command I'm able to see the saved connection string.

**etcdctl.exe --user root:password put ConnectionString "Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(

[2020-06-18 18:16] satishviswanathan commented on #54
My appoligies it was my bad initially i ran the following command

etcdctl.exe --user root:password put ConnectionString 'Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=xxx.domain.com)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XXX)));User Id=testuser;Password=password1;Statement Cache Size=10; Validate Connection=true;Connection Lifetime=120;Connection Timeout=

[2020-06-18 18:16] #54 closed

[2020-06-19 20:18] shubhamranjan commented on #53
Identified root cause. Will release a fix soon.

[2020-06-19 20:39] #53 closed

[2020-06-19 20:40] shubhamranjan commented on #53
Meanwhile you can test via `etcdClient.GetRange("");` or `await etcdClient.GetRangeAsync("");`

[2020-06-20 14:42] shubhamranjan commented on #52
Raised an issue: https://github.com/etcd-io/etcd/issues/12031

[2020-06-22 21:50] satishviswanathan opened #55 "Etcd client connection issue when etcd restarts"
I'm using etcd client in my web api application and have implemented watch which works fine.
However i'm facing the following issue.

**Etcd connection gets disconnected**

**To Reproduce**
Steps to reproduce the behavior:
1. During web api bootstrap initialize the etcd client and read the keys , registered a watch and loaded the IConfiguration with the keys.
2. Change any value of the key in etcd

[2020-07-01 10:07] riemar opened #56 "GetRange() / GetRangeVal() get too many results"
**Describe the bug**
The GetRange and GetRangeVal methods return a too large result.
This error has been introduced with the changes to GetEndRange.

It just sets a zero byte. Thus the end entry point of the range is the prefix provided. The end however is not within it's structure but at the end of a kv pairs by their default sorting from the first match of the prefix provided.

**To Reproduce**

[2020-07-03 20:55] #56 closed

[2020-07-03 20:56] shubhamranjan commented on #55
@satishviswanathan  Do you get any sort of exception on etcd server restart ?

[2020-07-04 11:19] shubhamranjan commented on #52
@alenjursic1997 Maybe you can explain your use case on the raised issue to help them understand better.

[2020-07-10 23:14] satishviswanathan commented on #55
@shubhamranjan i'm not seeing exception but seems like the application is losing the connection with etcd and subsequent watch notification is not received after restart.

[2020-07-15 16:21] shubhamranjan commented on #55
Noted. Etcd restarts haven't been handled yet for etcd watches are neither is there a provision for an exception handler. This are is something we need to improvise on.

@yoricksmeets  Did you get a chance to work on the watch manager ?

[2020-08-03 03:02] jinyuttt opened #57 "etcdclient"
**Describe the bug**
A clear and concise description of what the bug is.
 EtcdClient client = new EtcdClient("127.0.0.1",2379);

error:

System.UriFormatException : "invalid URI: invalid URI scheme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to

[2020-08-03 09:08] shubhamranjan commented on #57
Protocol specification is required. Try this:  `new EtcdClient("http://127.0.0.1:2379");`

[2020-08-03 09:08] #57 closed

[2020-09-14 09:26] MJEdwin opened #64 "etcd watch function support asynchronous method"
when i use dotnet-etcd some watch method,it was blocked my code and i can not run code after watch method invoked
### code:
[code]
### future:
add asynchronous method
[code]

[2020-09-14 19:01] shubhamranjan commented on #64
Hi, With the current implementation you can use other watch overloads which accept` WatchRequest` instead of a `string` param. You can create a watch request like this:
[code]

and pass it over.

There are a lot of async overloads [here](https://github.com/shubhamranjan/dotnet-etcd/blob/master/dotnet-etcd/watchClient.cs).

I agree that there should be overloads for string params as well since ther

[2020-11-17 08:14] yanhua1012 commented on #55
I connect to etcd cluster with dotnet-etcd version 3.2.0. the cluster was compose of three etcd nodes.
In beginning I have connected to the cluster succussfully and get some data.
But when I shutdown etcd nodes one by one, the applicaton thorow a unhandled exception as follows:
Grpc.Core.RpcException
  HResult=0x80131500
  Message=Status(StatusCode=Unknown, Detail="Stream removed")
  Source=System

[2020-12-08 12:38] shubhamranjan commented on #55
@yanhua1012  Can you explain as it happens. For e.g.

1. 1 node goes down, 1 error occurs and subsequent work and so on.......

[2020-12-14 04:15] yanhua1012 commented on #55
step1. the etcd client connect to etcd cluster successfully
step2. shutdown the first node of cluster
step3. shutdown the second node of cluster
step4. start the second node of cluster
then one unhandled exception as follows happened ocassionally

   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)

[2020-12-14 04:20] yanhua1012 commented on #55
a another case
step1. the etcd client connect to etcd cluster successfully and watch some datas
step2. shutdown the first node of cluster
step3. shutdown the second node of cluster
step4. shutdown the third node of cluster
then one unhandled exception as follows happened (not immediately)
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.Tas

[2020-12-22 12:44] alvincfan commented on #34
@tung-lin and future viewers

To set range end based on prefix path, try

RangeEnd = ByteString.CopyFromUtf8(EtcdClient.GetRangeEnd(prefix))

[2021-01-22 11:42] kaflake opened #77 "Blocking on call in GUI-Thread"
If I call per example GetAsync in the GUI thread and Wait for the result, then there is a deadlock.
It seams to be like this in this article: https://medium.com/bynder-tech/c-why-you-should-use-configureawait-false-in-your-library-code-d7837dce3d7f
So there is a work around, but it will be great to fix it direcly in the lib.

[2021-02-20 16:30] #77 closed

[2021-02-26 12:10] kaflake commented on #33
Is there still a solution for the cancelation problem?

[2021-03-04 10:37] anythink-wx commented on #22
LeaseGrant and LeaseKeepAlive doc ?

[2021-03-29 09:19] CriggerMarg opened #92 "GetRange includes line return to response"
**Describe the bug**
RangeResponse GetRange(
      string prefixKey,
      Metadata headers = null,
      DateTime? deadline = null,
      CancellationToken cancellationToken = default (CancellationToken))
includes line return to key values.

**To Reproduce**
Steps to reproduce the behavior:
1. Load some keys to etcd
2. Fetch them with GetRange method
3. Look to each key Value.Span property
4. You

[2021-06-22 11:49] setood opened #106 "etcd-client support for k8s headless service"
i want to use k8s headless service for connection to my etcd cluster with 3 nodes.
does dotnet-etcd support this feature? or i need pass to etcdClient one url for each etcd nodes?

[2021-06-22 12:06] shubhamranjan commented on #106
Resolution for all endpoints via headless service is not supported at the moment. The only way right now is to pass url for each node.

[2021-06-22 12:08] shubhamranjan commented on #92
Thanks for reporting. I double check and see that the `GetVal` method returns trimmed response from code. However, ` \r ` is not something that is being added by the library. Its most likely the actual value inside etcd contains ` \r `, hence you are getting it in response.

[2021-06-22 15:59] CriggerMarg commented on #92
Most likely. Thanks for checking.

[2021-06-22 15:59] #92 closed

[2021-08-04 13:30] baseTwo opened #109 "Legacy Grpc.Core fails on Linux Alpine container"
**Describe the bug**
The EtcdClient fails to connect on a Linux Alpine container running .net 5.

The underlying grpc library fails with the following error:

[code]
Please note that Grpc.Net.Client is the recommended library for the future and that Grpc.Core will go into maintenance. This might be worth looking into as a solution for this bug.

https://grpc.io/blog/grpc-csharp-future/

[2021-08-09 07:53] shubhamranjan commented on #109
Thanks for reporting. I will check it out and will plan out the switch to Grpc.Net.Client

[2021-08-09 15:19] shubhamranjan commented on #109
I have tested and released a pre-release version. You may check it out.

Version: `5.0.0-alpha`

Thanks !

[2021-08-12 16:07] shubhamranjan opened #111 "Support IConfiguration and DI"
- [ ] Users should be able to inject the client
- [ ] If not config is passed, lib should fall back to `IConfiguration` to check for values. The config format will be predefined
- [ ] Users should be able to pass the config

[2021-08-13 11:34] baseTwo commented on #109
I am testing now using certificates, and getting the following exception when creating the EtcdClient whilst specifying the caCert, clientKey and clientCert parameters:

System.InvalidOperationException: SslCredentials with non-null arguments is not supported by GrpcChannel. GrpcChannel uses HttpClient to make gRPC calls and HttpClient automatically loads root certificates from the operating syste

[2021-08-20 19:43] shubhamranjan commented on #109
This seems a big change on how certs used to be loaded before. Have already pushed a few changes, should be able to test em and release a new version soon.

[2021-08-23 13:24] baseTwo commented on #109
I managed to get a secure connection working by providing the new EtcdClient constructor with the HttpClientHandler containing  the certificates.

[2021-08-31 07:34] shubhamranjan commented on #109
Thanks for the update. Will move release a stable version soon.

[2021-08-31 07:34] #109 closed

[2021-10-14 09:13] baseTwo opened #118 "Exception type when cancelling async operations"
**Some background on the problem I have with how cancellations are thrown in the grpc library**
Currently, the new Grpc.Net.Client throws a RpcException with a 'Canceled' StatusCode when async operations are canceled. This means that a Task's state IsFaulted and not IsCanceled.

Also, handling exceptions when awaiting these tasks needs to be treated differently. Instead of catching all cancellatio

[2021-10-14 09:30] shubhamranjan commented on #118
Makes sense @baseTwo . Will look into it. Thanks !

[2021-10-14 14:45] baseTwo commented on #118
I created (my first github) pull request. Perhaps it's wise to bump the versioning, since a different exception expected from each method could be considered a breaking change? Let me know your thoughts and if you have comments. Thanks :)

[2021-10-14 16:04] #118 closed, assigned to nobody

[2021-11-05 12:56] turowicz opened #126 "Prefix request with Limit"
Etcd supports the following:

[code]

Which allows for a prefix query with a limit. Unfortunately the `RangeRequest` class doesn't have a `Prefix` property and the `GetAsync` overload with `prefix` argument doesn't take `limit` as argument.

[2021-11-05 13:05] turowicz commented on #126
cc @shubhamranjan

[2021-11-05 13:26] turowicz commented on #126
That did the trick:

[code]

[2021-11-05 13:26] #126 closed

[2021-11-29 10:51] setood commented on #106
closed by mistake, still actual

[2022-03-01 07:43] lapinbleu007 commented on #33
Hi guys, what are the consequenses if we watch variables without canceling the watch? Also, what happens if we watch the same variable again with the same id?

[2022-03-02 21:11] shubhamranjan commented on #33
@lapinbleu007 - For now, nothing is handled at the client level, the requests are passed as is to the etcd server, So each watch request would basically be a new watch request.

[2022-03-28 18:06] satishviswanathan commented on #55
@shubhamranjan , Just reaching out to see if this scenario is being considered in future release as a feature.

[2022-07-16 08:06] shubhamranjan commented on #106
This can be taken up now I guess since support for [client side load balancing](https://docs.microsoft.com/en-us/aspnet/core/grpc/loadbalancing?view=aspnetcore-6.0) is out now.

[2022-07-16 09:41] setood commented on #106
yeap, this will be work out of the box on .dotnet 5 or later. but it would break the retries from `CallEtcd` methods, because these methods retrying over `dotnet-etcd` `balancer` nodes.

[2022-07-16 09:44] shubhamranjan commented on #106
hmm... I guess the whole balancing logic should be revamped to utilize the client's LB logic instead.

[2022-07-16 09:50] setood commented on #106
this might be helpful https://docs.microsoft.com/en-us/aspnet/core/grpc/retries?view=aspnetcore-6.0#configure-a-grpc-retry-policy

[2022-07-16 10:14] setood commented on #55
silent reconnect to watch may be dangerous.
if watch starts from specific revision, callbacks called again from these revision and its break `watch stream ordered guarantee`
https://etcd.io/docs/v3.3/learning/api_guarantees/#consistency
if watch start from current revision, reconnect can skip some events

we are sometimes got both these problems.

but root of the problem is that occasionally conne

[2022-07-16 10:25] shubhamranjan commented on #55
Thanks @setood . I see a lot of great features have been added to the grpc client. I will try to re design the whole client again.

IMO, I think it should be fair to say that people should be able to easily upgrade their dotnet versions, considering breaking changes are not that much in most areas.

[2022-07-19 07:09] namnhcntt opened #152 "How to read past version of keys"
**Is your feature request related to a problem? Please describe.**
I cannot find any doc about read past version of keys.

**Describe the solution you'd like**
In etcdctl:
[code]
So how can do the same with dotnet-etcd?

**Additional context**
I'm using latest version of dotnet etcd for now (5.2.1), .NET Core 6.
Thanks

[2022-08-16 05:27] setood commented on #152
[code]

[2022-08-16 06:24] setood opened #157 "add separated community contrib project or repo"
**Is your feature request related to a problem? Please describe.**
we want to contribute several methods that allow to get the maximum reliability from interaction with ETCD.
For example, to keep lease alive by sending requests to several nodes.
However, these solutions may not be suitable for everyone and use external dependencies.

**Describe the solution you'd like**
it would be nice to make th

[2022-08-16 16:23] shubhamranjan commented on #157
IMO, stuff related to connection reliability should stay at the core of the repo. However,  if there are other additional features which are more around the the lib's core functionality, they can be moved to  new repo.  For e.g. an  etcd support for
 `IConfiguration`  can be wrapped around in another package.

[2022-08-16 16:26] shubhamranjan commented on #152
Yep, docs are not updated yet. I am currently working on revamping the lib from scratch to figure out the connection reliability issues. especially the ones related to watch. I try my best to keep things updated from whatever time I get.

Until then, as @setood  figured it out. You can figure it by using your IDE's intellisense by looking at what params are available. I have exposed every param fo

[2022-08-18 10:36] #157 closed

[2022-09-26 18:12] #55 closed

[2022-09-27 18:24] #52 closed

[2022-09-27 18:42] #39 closed

[2022-09-27 18:42] #106 closed

[2022-11-17 08:54] SGStino opened #171 "GrpcChannelOptions parameter configuration"
**Is your feature request related to a problem? Please describe.**
I would like to set MaxReceiveMessageSize to a larger value, but since GrpcChannelOptions is created in the EtcdClient constructor, this is not possible.

**Describe the solution you'd like**
a `Action<GrpcChannelOptions> configureChannelOptions = null` parameter added to the constructor.
and `configureChannelOptions?.Invoke(option

[2022-11-17 14:46] #171 closed

[2022-11-25 09:51] careless6666 opened #172 "Lock permission denied"
**Describe the bug**
I have 2 instances of the same service with the following simply logic
Instance A:
create lease => leaseA
lock("someName", leaseA)

Instance B:
create lease => leaseB
lock("someName", leaseB)

Expected behavior:
Instance B wait, until unlock or lease expired

Real behavior:
Instance B sometimes receive error permission denied on client side, on server side: "auth: user name is

[2022-11-25 11:42] careless6666 commented on #172
We have error in our tests, problems reproduced and in last version too